[Unit]
Description=Periodic adaptive zram multi-tier recompression and writeback timer
ConditionPathExists=/sys/block/zram0/recompress

[Timer]
OnBootSec=30min
OnUnitActiveSec=30min
AccuracySec=2min
RandomizedDelaySec=2min

[Install]
WantedBy=timers.target
